<div class="container mt-3">
    <form nz-form [formGroup]="validateInvoice">
        <div class="row">
            <div class="col-2">
                <label>Email</label>
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="supplieremailError">
                        <nz-input-group>
                            <input type="email" nz-input class="input-design" formControlName="email"
                                placeholder="email.." />
                        </nz-input-group>
                        <ng-template #supplieremailError let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                Please input email.
                            </ng-container>
                            <ng-container *ngIf="control.hasError('email')">
                                Please enter valid email.
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                        <label>Date</label>
                        <nz-form-item>
                            <nz-form-control>
                                <nz-date-picker class="input-design" nzMode="date" [nzFormat]="'dd/mm/yyyy'"
                                    formControlName="date">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-6">
                        <label>Due Date</label>
                        <nz-form-item>
                            <nz-form-control>
                                <nz-date-picker class="input-design" nzMode="date" [nzFormat]="'dd/mm/yyyy'"
                                    formControlName="Duedate">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <label>Invoice #</label>
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group>
                            <input nz-input class="input-design" formControlName="Invoice" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-2">
                <label>Reference</label>
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="supplierRefError">
                        <nz-input-group>
                            <input nz-input class="input-design" formControlName="Reference" />
                        </nz-input-group>
                        <ng-template #supplierRefError let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                Please input Reference.
                            </ng-container>
                            <ng-container *ngIf="control.hasError('pattern')">
                                Your reference number must consist maximum 15 alphanumeric values!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <!-- <label>Currency Type</label> -->
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Currency" formControlName="currency"
                    (ngModelChange)="CurrencyValueSet()">
                    <nz-option nzLabel="Indian Rupee (INR)" nzValue="INR"></nz-option>
                    <nz-option nzLabel="United States Dollar (USD)" nzValue="USD"></nz-option>
                    <nz-option nzLabel="Canadian Dollar (CAD)" nzValue="CAD"></nz-option>
                    <nz-option nzLabel="Euro" nzValue="EUR"></nz-option>
                </nz-select>
            </div>
        </div>
    </form>

    <nz-divider></nz-divider>
    <div class="container">
        <nz-table [nzShowPagination]="false" #editRowTable nzBordered [nzData]="listOfData">
            <thead>
                <tr>
                    <th nzWidth="30%">Description</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Disc %</th>
                    <th>Account</th>
                    <th>Tax Rate</th>
                    <th><span [ngClass]="CurrencyValue==null?'disable':''">Amount ({{CurrencyValue}})</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of editRowTable.data" class="editable-row">
                    <td>
                        <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
                            {{ data.Description }}
                        </div>
                        <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.Description" />
                    </td>
                    <td class="w100">
                        <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
                            {{ data.Quantity }}
                        </div>
                        <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.Quantity" />
                    </td>
                    <td class="w100">
                        <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
                            {{ data.UnitPrice }}
                        </div>
                        <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.UnitPrice" />
                    </td>
                    <td class="w100">
                        <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
                            {{ data.Discount }}
                        </div>
                        <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.Discount" />
                    </td>
                    <td class="w100">
                        <nz-select nzShowSearch [hidden]="editId !== data.id" nzAllowClear
                            nzPlaceHolder="Select Currency" [(ngModel)]="data.Account">
                            <nz-option nzLabel="Sales" nzValue="1"></nz-option>
                            <nz-option nzLabel="Capital sales" nzValue="2"></nz-option>
                            <nz-option nzLabel="Other revenue" nzValue="3"></nz-option>
                            <nz-option nzLabel="Interest Income" nzValue="4"></nz-option>
                            <nz-option nzLabel="Other Income" nzValue="5"></nz-option>
                        </nz-select>
                        <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
                            {{ data.Account }}
                        </div>
                    <td class="w100">
                        <nz-select nzShowSearch [hidden]="editId !== data.id" nzAllowClear
                            nzPlaceHolder="Select Currency" [(ngModel)]="data.TaxRateId">
                            <nz-option nzLabel="10%" nzValue="1"></nz-option>
                            <nz-option nzLabel="20%" nzValue="2"></nz-option>
                            <nz-option nzLabel="30%" nzValue="3"></nz-option>
                            <nz-option nzLabel="40%" nzValue="4"></nz-option>
                        </nz-select>
                        <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
                            {{ data.TaxRateId }}
                        </div>
                    </td>
                    <td class="w100">
                        {{ amountGetTotal(data) }}
                    </td>
                    <td class="w10">
                        <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)"><i
                                nz-icon nzType="close" nzTheme="outline"></i></a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <button nz-button (click)="addRow()" class="TabcustomButton mt-2" nzType="primary">Add a new line</button>

        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <table class="customTable">
                    <tr class="textCenter">
                        <td>Sub Total</td>
                        <td>0.00</td>
                    </tr>
                    <tr class="textCenter">
                        <td>VAT</td>
                        <td>0.00</td>
                    </tr>
                    <tr class="border-top border-bottom textCenter">
                        <td class="totalCustom">Total</td>
                        <td class="totalCustom">0.00</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <button nz-button class="saveCustomBtn" nzType="primary" (click)="saveInvoice()">Save</button>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button nz-button class="cancelCustomBtn" routerLink="/listInvoice" nzType="default">Cancel</button>
            </div>
        </div>
    </div>